*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html {
    font-size: 16px;
    height: 100%;
    /* по умолчанию */
}

body {
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Inter', sans-serif;
    line-height: 1;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

/* --------------- */

.container {
    margin: 40px auto;
    max-width: 1294px;
}

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.logo {}

.logo__img {}

.menu {
    display: flex;
    gap: 20px;
    text-transform: uppercase;
}

.cart {}

.cart__img {}

/* -------------------------------- */

.main {}

.main__banner {
    height: 550px;
    background: #DCE5E2;
    border-radius: 32px;
    display: flex;
}

.main__text {
    max-width: 776.39px;
    padding-left: 56px;
}

.main__title {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: #000000;
    padding-top: 145px;


}

.main__subtitle {
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 19px;
    margin-bottom: 30px;
}

.main__btn {
    height: 50px;
    width: 170px;
    border: 1px solid black;
    border-radius: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    background: #DCE5E2;
}

.main__tel {}

/* -------------------------------------------------------------- */

.offerrs {
    width: 1350px;
    height: 1018px;
}

.title {
    margin: 25px auto;
    width: 780px;
    height: 53px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    /* identical to box height, or 125% */
    text-align: center;
    color: #000000;
}

.subtitle {
    margin: 25px auto;
    width: 628px;
    height: 34px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* or 120% */
    text-align: center;
    color: #000000;
}

.categories {}

.categories__horizont {}

.laptop {}

.laptop__img {}

.category__name {}

.category__info {}

.watch {}

.watch__img {}

.categories__vertical {}

.phone {}

.phone__img {}

.tablet {}

.tablet__img {}