*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html {
    font-size: 16px;
    height: 100%;
    /* по умолчанию */
}

body {
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Inter', sans-serif;
    line-height: 1;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

/* --------------- */

.container {
    margin: 50px auto;
    max-width: 1294px;
}

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    al
}

.logo {}

.logo__img {}

.menu {
    display: flex;
    gap: 20px;
}

.cart {}

.cart__img {}