*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html {
    font-size: 16px;
    height: 100%;
    /* по умолчанию */
}

body {
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Inter', sans-serif;
    line-height: 1;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

/* ---------------------------------------------------------------- */

.container {
    margin: auto;
    max-width: 1294px;
}

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.logo {
    margin-right: 20px;
}

.logo__img {}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-transform: uppercase;
}

.cart {}

.cart__img {}

/* --------------------------------------------------------------------------------- */

.main {}

.main__banner {
    max-height: 550px;
    background: #DCE5E2;
    border-radius: 32px;
    display: flex;
}

.main__text {
    max-width: 776.39px;
    padding-left: 56px;
}

.main__title {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: #000000;
    padding-top: 145px;
}

.main__subtitle {
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 19px;
    margin-bottom: 30px;
}

.main__btn {
    height: 50px;
    width: 170px;
    border: 1px solid black;
    border-radius: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    background: #DCE5E2;
    margin: 30px 0;
}

.main__tel {}

/* -------------------------------------------------------------- */

.offerrs {
    max-width: 1350px;
    max-height: 1018px;
}

.title {
    margin: 25px auto;
    max-width: 780px;
    height: 53px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    /* identical to box height, or 125% */
    text-align: center;
    color: #000000;
}

.subtitle {
    margin: 25px auto;
    max-width: 628px;
    height: 34px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* or 120% */
    text-align: center;
    color: #000000;
}

.categories {
    display: flex;
    gap: 25px;
    justify-content: space-around;
    /* align-items: center; */
}

.categories__horizont {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.laptop {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #FFFFFF;
    /* border-radius: 32px; */
    color: #FFFFFF;
    /* padding: 35px; */
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
    max-width: 639px;
    max-height: 472px;
    padding-bottom: 25px;
    padding-right: 15px;
}

.laptop__img {
    width: 100%;
    /* border-radius: 32px; */
}

.category__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height, or 128% */
    color: #000000;
    text-align: right;
    padding: 15px 15px 5px 15px;
}

.category__info {
    text-align: right;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height, or 120% */
    color: #000000;
    padding: 5px 5px 5px 5px;
}

.watch {
    display: flex;
    padding-left: 10px;
    background: #FFFFFF;
    /* border-radius: 32px; */
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
    max-width: 639px;
    max-height: 270px
}

.wath__text {
    padding: 55px 25px 0 0;
}

.watch__img {
    width: 100%;
    /* border-radius: 32px; */

}

.categories__vertical {
    display: flex;
    /* flex-direction: column; */
    gap: 25px;
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #FFFFFF;
    /* border-radius: 32px; */
    color: #FFFFFF;
    /* padding: 35px; */
    padding-top: 75px;
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
}

.phone__img {
    width: 100%;
    /* border-radius: 32px; */
}

.tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #FFFFFF;
    /* border-radius: 32px; */
    color: #FFFFFF;
    padding-top: 75px;
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
}

.tablet__img {
    width: 100%;
}

/* ------------------------------------------------------------------------- */
.save {
    max-width: 1350px;
    min-height: 606px;
}

.save__block {
    max-width: 1294px;
    min-height: 154px;
}

.save__items {
    max-width: 1294px;
    min-height: 396px;
    display: flex;
    gap: 27px;
}

.item {
    width: 302.5px;
    height: 396px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}

.item__img {
    width: 247px;
    height: 214px;
    margin: auto;
}

.item__name {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */
    color: #000000;
    padding-top: 10px;
}

.item__info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* or 120% */
    color: #4B4B4B;
    padding: 10px 0;
}

.item__price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */
    color: #000000;
}

/* -------------------------------------------------------------------------------- */

.best {
    max-width: 1350px;
    min-height: 663px;
}

.best__block {
    max-width: 1294px;
    min-height: 98px;
}

.best__wrapper {
    max-width: 1294px;
    min-height: 453px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.best__item {
    margin-top: 35px;
    padding-top: 41px;
    text-align: center;
    align-items: center;
    background: #F8F9FA;
    border-radius: 16px;
    width: 413px;
    height: 453px;
}

.best__name {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height, or 129% */
    text-align: center;
    color: #000000;
}

.best__category {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    /* identical to box height, or 125% */
    text-align: center;
    color: #000000;
}

.main__btn {}

.best__img {
    width: 100%;
}

/* -------------------------------------------- */

.ideas {
    max-width: 1350px;
    max-height: 728px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.ideas__block {
    max-width: 1294px;
    min-height: 78px;
    /* margin-top: 100px; */
    text-align: center;
}

.book__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book__img {
    max-width: 620px;
    min-height: 420px;
    width: 100%;
}

.book__info {
    padding-top: 25px;
    max-width: 639px;
    height: 292px;
}

.book__text {
    max-width: 639px;
    height: 65px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */
    color: #000000;
    text-align: justify;
}

.see {
    margin: auto;
    font-size: 18px;
    text-align: center;
}

.see img {
    width: 22px;
    display: inline-block;
    vertical-align: middle;
}

/* ----------------------------------------------------------- */

.looking {
    max-width: 1294px;
    min-height: 778px;
}

.search {
    height: 60px;
    background: #F8F9FA;
    border: 1px solid #C5C5C5;
    border-radius: 100px;
    display: block;
    width: 100%;
    padding-left: 50px;
    max-width: 650px;
    height: 92px;
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height, or 120% */
    color: #000000;
    margin-bottom: 20px;
}

.tags {
    max-width: 660px;
    min-height: 98px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.tags__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
    display: inline-block;
    padding: 10px 20px;
}

/* ---------------------------------------------------------------- */

.never__block {
    max-width: 935px;
    min-height: 450px;
    background: #DCE5E2;
    border-radius: 16px;
    margin: auto;
}

.never__bg {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.never__img {
    max-width: 233px;
    min-height: 200px;
    margin: auto;
}

.email {
    max-width: 400px;
    min-height: 50px;
    margin: auto;
    /* background-color: #000; */
    border-radius: 200px;
}

.inputemail {
    display: inline-block;
    padding-left: 50px;
    max-width: 285px;
    height: 50px;
    background: #DCE5E2;
    border: 1px solid #000000;
    border-radius: 200px 0px 0px 200px;
}

.buttonemail {
    display: inline-block;
    max-width: 110px;
    height: 50px;
    color: white;
    background: #000000;
    border-radius: 0px 200px 200px 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -5px;
}

.footer {
    max-width: 1440px;
    min-height: 378px;
}

.footer__link {
    max-width: 1294px;
    min-height: 191px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.about__us {
    max-width: 394px;
    height: 191px;
    margin: 28px;
}

.logo__img {
    width: 181px;
    height: 22px;
}

.img__footer {
    margin: 18px 0;
    display: inline-block;
}

.support {
    max-width: 197px;
    height: 191px;
}

.footer__category {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */
    color: #000000;
    margin: 28px auto;
    /* text-align: left; */
}

.li__footer {
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 120% */
    color: #000000;
}

.made {
    margin-top: 100px;
    height: 78px;
    max-width: 1350px;
}

.made__by {
    width: auto;
    height: 21px;
    padding-top: 50px;
    border-top: 1px solid #C5C5C5;
    color: #C5C5C5;
}

/* ----------------------------------------------------------------------------------------------- */


@media (max-width:1420px) {
    .container {
        padding: 30px;
        margin: auto;
    }

    .save {
        max-width: 1350px;
        min-height: 606px;
    }

    .save__block {
        max-width: 1294px;
        min-height: 154px;
    }

    .save__items {
        max-width: 1294px;
        min-height: 396px;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }

    .best {
        /* display: none; */
    }

    .ideas {
        /* display: none; */
    }

    .footer {
        /* display: none; */
    }

}

@media (max-width: 1400px) {
    .category__info {
        font-size: 25px;
        line-height: 25px;
        color: #000000;
        padding: 5px 5px 5px 5px;
    }

    .book__text {
        font-size: 18px;
        line-height: 125%;
        /* or 125% */
        color: #000000;
        text-align: justify;
    }

}


@media (max-width:1342px) {
    .offerrs {
        padding: 30px;
    }

    .save__items {
        justify-content: center;
    }

    .best__wrapper {
        justify-content: center;
    }
}

@media (max-width: 1257px) {
    .category__info {
        font-size: 25px;
        line-height: 25px;
        color: #000000;
        padding: 5px 5px 5px 5px;
    }

    .main__title {
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 40px;
        color: #000000;
        padding-top: 50px;
    }

    .laptop__img {
        display: none;
    }

    .watch__img {
        display: none;
    }

    .phone__img {
        display: none;
    }

    .tablet__img {
        display: none;
    }

    .main__banner {
        display: flex;
        flex-direction: column;
    }

    .main__tel {
        display: none;
    }

}


@media (max-width:1135px) {
    .ideas {
        height: auto;
        gap: 10px;

    }

    .book__img {
        display: none;
    }

    .ideas__block {
        /* flex-wrap: wrap; */
    }

    .book__info {
        width: auto;
        min-height: 170px;
        margin: auto;
    }

    .book__text {
        max-width: auto;
        height: auto;
    }

    .subtitle {
        margin: 0px auto 10px auto;
    }

}

@media (max-width:975px) {
    .about__us {
        width: auto;
    }

    .support {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .footer__category {
        gap: 15px;
    }

    .footer__link {
        display: flex;
        gap: 15px;
    }
}

@media (max-width:895px) {
    .offerrs {
        display: none;
    }

    .title {
        margin: 25px auto;
        max-width: 780px;
        height: 35px;
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }


}

@media (max-width:665px) {
    .header {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 80px;
    }

    .footer__link {
        flex-wrap: wrap;
        height: auto;
    }

    .about__us {
        height: auto;
    }
}

@media (max-width:550px) {
    .about__us {
        height: auto;
    }



    .never__img {
        display: none;
    }

    .never__block {
        min-height: auto;
        padding-bottom: 20px;
    }

    .looking {
        min-height: auto;
        padding-bottom: 20px;
    }
}

@media (max-width:460px) {
    .inputemail {
        width: auto;
    }

    .buttonemail {
        width: auto;
    }
}